<ul>
  <% katas.forEach(k => { %>
  <li><%= k.name %> (id is <%= k.id %>)</li>
  <a class="btn btn-primary" href="/katas/<%= k.id %> ">more info</a>

  <a
    class="btn btn-primary"
    target="_blank"
    href="http://www.codewars.com/kata/<%= k.cw %>/train/javascript"
    >train again</a
  >
  <a
    class="btn btn-primary"
    target="_blank"
    href="http://www.codewars.com/kata/<%= k.cw %>/solutions/javascript"
    >solutions</a
  >

  <a class="btn btn-primary" href="/subjects">tag</a>

  <form action="/katas/tagged" method="POST">
    <input hidden type="text" name="name" value="<%= k.name %> " />
    <input hidden type="text" name="cw" value="<%= k.cw %>" />
    <p>Existing subjects</p>
    <% subjects.forEach(s => { %>
    <label class="checkbox-inline">
      <input type="checkbox" name="subject" value="<%= s.name %> " />
      <%= s.name %>
    </label>
    <% }) %>
    <button type="submit">tag kata</button>
  </form>

  <% }) %>
</ul>

<br />
<a href="/">&larr; Back Home</a>
