<h2><%= name %></h2>
<p><%= rank.name %></p>
<p><%= description %></p>

<a
  class="btn btn-primary"
  target="_blank"
  href="http://www.codewars.com/kata/<%= cw %>/train/javascript"
  >train again</a
>
<a
  class="btn btn-primary"
  target="_blank"
  href="http://www.codewars.com/kata/<%= cw %>/solutions/javascript"
  >solutions</a
>

<br />
<a href="/">&larr; Back Home</a>
