<h2><%= name %></h2>
<p><%= rank.name %></p>
<br />
<a
  class="btn btn-primary"
  target="_blank"
  href="http://www.codewars.com/kata/<%= cw %>/train/javascript"
  >train again</a
>
<a
  class="btn btn-primary"
  target="_blank"
  href="http://www.codewars.com/kata/<%= cw %>/solutions/javascript"
  >solutions</a
>

<br />

<% kata.subjects.forEach(s => { %>
<a href="/subjects/<%=s.id%>"> #<%= s.name %> </a>
<% }) %>

<br />
<p><%= description %></p>

<br />

<form action="/katas/<%=kata.id %>?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-danger">Delete this kata?</button>
</form>
