<h2 class="centered">All my katas</h2>
<% myKatasFull.forEach( kata => { %>
<div>
  <h3><%= kata.name %></h3>
  <form method="POST" action="/katas">
    <input hidden type="text" name="name" value="<%= kata.name %>" />
    <input hidden type="text" name="cw" value="<%= kata.id %>" />
    <input hidden type="integer" name="userId" value="<%= id %>" />
    <button class="btn btn-secondary italic" type="submit">
      Add "<%= kata.name.split(' ').slice(0,3).join(' ') %>" to Database
    </button>
  </form>
  <% })%>
</div>
